<ion-view view-title="Map">
	<ion-nav-buttons side="right">
		<a class="button button-icon button-clear ion-gear-b" ng-click="goToPage('profile')">
		</a>
	</ion-nav-buttons>
	<ion-content scroll="false" class="ng-scope">
		<map id="map" center="32.730346, -97.114586" zoom="17" disable-default-u-i="true" styles="
		{{ map.styles }}">

			<custom-control id="home" position="TOP_RIGHT" index="1" on-click="click()">
	          <div class="ghettoassfab">
				<i ng-click="centerOnMe()" center="current-location" class="button button-icon icon ion-android-locate"></i>
			</div>
	        </custom-control>
			
			<marker ng-repeat="marker in markers" position="{{ marker.coords.lat }}, {{ marker.coords.lng }}" title="{{ marker.name }}" animation="DROP" />
		</map>	
		 <div class="button-bar" id="menu-popout" ng-class="{ active: mainSelected }">
 			
 			<button id="first-button" ng-click="goToPage('shame')"><i class="icon ion-sad"><h5>Wall of Shame</h5></i></button>
			<button id="middle-button"><i class="icon ion-ios-circle-filled"><h5>Panic Button</h5></i></button>
			<button ng-click="goToPage('profile')"><i class="icon ion-android-contact"><h5>Personalization</h5></i></button>
		</div>

		<ion-tabs class="tabs-icon-top ts-positive">
		  <ion-tab title="Parking" icon-off="ion-model-s" icon-on="ion-model-s" on-select="pageSelect(1)">
		  </ion-tab>

		  <ion-tab title="Bus" icon-off="ion-android-bus" icon-on="ion-android-bus" on-select="pageSelect(2)">
		  </ion-tab>

		  <ion-tab title="Main" icon-off="ion-plus-round" icon-on="ion-plus-round" ng-click="mainSelect()">
		  </ion-tab>

		  <ion-tab title="Bike" icon-off="ion-android-bicycle" icon-on="ion-android-bicycle" on-select="pageSelect(4)">
		  </ion-tab>

		  <ion-tab title="Favorite" icon-off="ion-heart" icon-on="ion-heart" on-select="pageSelect(5)">
		  </ion-tab>


		</ion-tabs>
	</ion-content>
</ion-view>

