<ion-view view-title="Map">
	<ion-content scroll="false" class="ng-scope">
		<leaflet id="map" layers="mapData.layers" controlls="mapData.controls" center="mapData.center" markers="mapData.markers">
			<div class="leaflet-bar leaflet-top leaflet-right leaflet-control ghettoassfab">
				<i ng-click="centerOnMe()" class="button button-icon icon ion-android-locate"></i>
			</div>
		</leaflet>
		 <div class="button-bar" id="menu-popout" ng-class="{ active: mainSelected }">
 			
 			<button id="first-button" ui-sref="shame"><i class="icon ion-sad"><h5>Wall of Shame</h5></i></button>
			<button id="middle-button" on-tap="callDaPolice()"><i class="icon ion-ios-circle-filled"><h5>Panic Button</h5></i></button>
			<button ui-sref="profile"><i class="icon ion-android-contact"><h5>Personalization</h5></i></button>
		</div>

		<ion-tabs class="tabs-icon-top ts-positive">
		  <ion-tab title="Parking" icon-off="ion-model-s" icon-on="ion-model-s" on-select="pageSelect(1)">
		  </ion-tab>

		  <ion-tab title="Bus" icon-off="ion-android-bus" icon-on="ion-android-bus" on-select="pageSelect(2)">
		  </ion-tab>

		  <ion-tab title="Main" icon-off="ion-plus-round" icon-on="ion-plus-round" ng-click="mainSelect()">
		  </ion-tab>

		  <ion-tab title="Bike" icon-off="ion-android-bicycle" icon-on="ion-android-bicycle" on-select="pageSelect(4)">
		  </ion-tab>

		  <ion-tab title="Favorite" icon-off="ion-heart" icon-on="ion-heart" on-select="pageSelect(5)">
		  </ion-tab>


		</ion-tabs>
	</ion-content>
</ion-view>

