<ion-view view-title="Profile"> 
	<ion-content class="padding">

		<div class="profile-box">
			<img class="circle" width="50" src="http://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Ryan_Gosling_2_Cannes_2011_(cropped).jpg/220px-Ryan_Gosling_2_Cannes_2011_(cropped).jpg" alt="Profile Pic" />
			<h4>Ryan Gosling</h4>
			<h5>Student</h5>
		</div>

		<ion-list class="profileList">
			<ion-item class="item item-icon-right">
				Change Profile Picture
				<i class="button button-clear button-calm icon ion-ios-camera"></i>
			</ion-item>

			<ion-item class="item item-icon-right" href="/#/profile/car">
				My Car
				<i class="button button-clear button-calm icon ion-android-car"></i>
			</ion-item>

			<ion-item class="item item-icon-right">
				My Favorite Spot
				<i class="button button-clear button-calm icon ion-android-favorite"></i>
			</ion-item>
		</ion-list>

	</ion-content>
</ion-view>