<ion-view view-title="My Car">
	<ion-content class="CarSelection">
		
		<div class="list">
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
				<i class="icon ion-jet"><p>(Default)</p></i>
				</div>
				<i class="radio-icon ion-checkmark"></i>
 			</label>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
				<i class="icon ion-ios-cart"></i>
				</div>
				<i class="radio-icon ion-checkmark"></i>
 			</label>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
				<i class="icon ion-android-bicycle"></i>
				</div>
				<i class="radio-icon ion-checkmark"></i>
 			</label>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
				<i class="icon ion-android-walk"></i>
				</div>
				<i class="radio-icon ion-checkmark"></i>
 			</label>

		</div>
	</ion-content>
</ion-view>