<ion-view view-title="Dashboard">
  <ion-content class="padding" ng-controller="DashCtrl">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
    <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
    <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
    <!-- this code was just a place holder for testing  <button class="button" ng-click="takePicture()">Take Picture</button>-->
    <a href="#" class="myButton" ng-click="takePicture()">Camera</a>
</ion-content>
</ion-view>

<!--This is a comment. Comments are not displayed in the browser-->